.service_block {
	height: 500px;
	margin-left: -5vw;
	margin-right: -5vw;
	padding: 0 5vw;
	align-content: center;
	background: #fbfaff;
}

.service_block .tag {
	display: flex;
	font-size: 24px;
	font-weight: 500;
	background: #eeebff;
	color: #4824ff;
	margin: 0 12px 12px 0;
	padding: 8px 22px 8px 8px;
	border-radius: 24px;
}

.service_block .tag .tag_icon {
	margin: -10px 0 -10px -10px;
	padding: 0;
	position: relative;
	background: none;
	content: url('../../../images/check.png');
	height: 50px;
}
